body{
    background-color: hsl(214, 17%, 92%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    flex-direction: column;
    height: 100vh;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p {
  font-size: smaller;
}

.title{
  font-size: large;
  font-weight: 600;
}

.name{
  display: flex;
  flex-direction: column;
}

#profile-online{
  border: 5px solid hsl(264, 82%, 80%) ;
}

.cards {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    margin-top: 0; /* Uklonio margin-top da se kartice postave bliže centru */
    max-width: 100%; /* Podesi širinu kartica ako je potrebno */
    max-height: 100%; /* Podesi visinu kartica ako je potrebno */
    justify-items: center; /* Centriraj kartice horizontalno */
    align-items: center; /* Centriraj kartice vertikalno */
}

.profile{
    display: flex;
    align-items: flex-start;
}

.large-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .small-card {   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .vertical-card {
    background-color:  hsl(0, 0%, 100%);
    grid-column-start: 4;
    grid-row: span 2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 90%;
  }

#clifford.large-card {
    background-color: hsl(263, 55%, 52%);
    grid-column: span 2;
    grid-row: 1;
    color: hsl(0, 0%, 100%);
}

#walters.small-card {
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    grid-column-start: 3;
    grid-row: 1;
    
}

#harmon.small-card {
    background-color:  hsl(0, 0%, 100%);
    border-radius: 10px;
    grid-column-start: 1;
    grid-row: 2;
    color: hsl(219, 29%, 14%);
  
}

#abrams.large-card {
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px; 
    grid-column: span 2;
    grid-row-start: 2;
    color: hsl(224, 10%, 45%);
}
