body{
    background-color: hsl(214, 17%, 92%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    flex-direction: column;
    height: 100vh;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cards {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    place-items: center;
    margin-top: 0; /* Uklonio margin-top da se kartice postave bliže centru */
    max-width: 90%; /* Podesi širinu kartica ako je potrebno */
    max-height: 90%; /* Podesi visinu kartica ako je potrebno */
    justify-items: center; /* Centriraj kartice horizontalno */
    align-items: center; /* Centriraj kartice vertikalno */
}

.wide-column {
    display: grid;
    grid-column: 1;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.large-card {
    grid-column: span 2;
    grid-row: span 1;
    padding: 20px;
    border-radius: 10px;
  }
  
  .small-card {   
    grid-column: span 1;
    grid-row: span 1;
    padding: 20px;
    border-radius: 10px;
  }
  
  .vertical-card {
    background-color: hsl(214, 17%, 92%);
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

#clifford.large-card {
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#walters.small-card {
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#harmon.small-card {
    background-color: hsl(214, 17%, 92%);
    border-radius: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#abrams.large-card {
    background-color: hsl(219, 29%, 14%);
    border-radius: 10px; 
    grid-column: 2/ 4;
    grid-row: 2 / 3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
